<div (click)="verArtista(artist.id)" class="card animated fadeIn fast puntero" style="width: 18rem;" animated fadeIn fast>
    <img class="card-img-top " [src]="artist.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{artist.name}}</h5>
    </div>
  </div>