<div (click)="verArtista(album)" class="card animated fadeIn fast puntero" style="width: 18rem;">
    <img class="card-img-top" [src]="album.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{album.name}}</h5>
      <p class="card-text">
          <span class="badge badge-dark" *ngFor="let artist of album.artists " >
            {{artist.name}}
          </span>

      </p>
    </div>
  </div>