<tr>
    <td>
      <img [src]="track.album.images | noimage" class="img-thumb" >
    </td>
    <td>{{track.album.name}}</td>
    <td>{{track.name}}</td>
    <td>
        <!--<iframe src="track.uri | domseguro:'https://open.spotify.com/embed?uri='"  width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
        

    </td>
  </tr>