<div class="row">
  <div class="col">
    <input type="text" #search (keyup)="onSearchKeyUp(search.value)" class="form-control" placeholder="Search...">
  </div>
</div>
<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-cards>
  <app-artist-card *ngFor="let artist of artists " [artist]="artist"></app-artist-card>
</app-cards>